@import './node_modules/normalize.css/normalize';


$primary-color: #00a1d1;
$secondary-color: #4a4a4a;
$medium: 768px;
$small: 375px;

.menu-item-dropdown > ul > li > a {
    color: rgba(255,255,255,.9);
    display: block;
    height: 36px;
    font-size: 18px;
    line-height: 36px;
    text-decoration: none;
    padding: 0 25px ;
    text-align: right;
}
    

body{
    font-family: 'Roboto', sans-serif;

}
header {
    background: $primary-color;
    display: flex;
    width: 100%;
    justify-content: space-between;
    

    @media only screen and (max-width: $medium){
        & {
            position:fixed;
            z-index: 4;
        }
    }
    .logo{
        margin:0 34px;

        @media only screen and (max-width: $small){
            &{
               display:none;
            }
        }
    }
    .menu{
        width: 50%;
        height: 75px;

        @media only screen and (max-width: $small){
            &{
                width: 100%;
            }
        }

        .menu-icon {
            height: 75px;
            padding:0 34px;
            position:absolute;
            right:0;
            display:flex;
            justify-content: center;
            align-items: center;
            display: none;
            & img{
                height: 25px;
            }
        }
        @media only screen and (max-width: $medium) {
            & .menu__hamburger{
               display:flex;
            }
        }
        .menu__list{
            display: flex;
            justify-content: flex-start;
            list-style: none;
            margin: 0;
            padding: 0;
            width:100%;

            @media only screen and (max-width: $medium) {
                &{
                   position:fixed;
                   width:50%;
                   flex-direction: column;
                   align-items: center;
                   height:100vh;
                   margin-top: 75px;
                   z-index: 20;
                   background-color:#333333;
                }
            }

            @media only screen and (max-width: $small){
                &{
                    width: 100%;
                }
            }

            .menu-item{
                width:25%;
                position:relative;
                & > a {
                    color: #fff;
                    height: 75px;
                    box-sizing: border-box;
                    min-width: 100%;
                    display: block;
                    text-align:center;
                    font-size: 22px;
                    padding: 22px 0;
                    text-decoration: none;
                }
                &:hover{
                    background-color: rgba(0,0,0,0.1);
                }
                
                @media only screen and (max-width: $medium) {
                    & {
                       width:100%;
                    }
                    & > a {
                        font-size:30px;
                    }
                    &:hover {
                        background-color: transparent;
                    }
                }
                &-dropdown{
                    background: $secondary-color;
                    display: none;
                    position: absolute;
                    z-index:20;
                    width: 200%;
                    margin-left:-100%;
                    list-style-type: none;
                    margin:0;
                    padding:0;
                    text-align: right;
                    margin-left: -100%;	

                    @media only screen and (max-width: $medium) {
                        & {
                            position: relative;
                            margin: 0;
                            width:100%;
                            display:flex;
                            flex-direction: column;
                            align-items: center;
                            text-align: center;
                            background-color: transparent;
                            
                        }
                    }
                    & li{
                        margin: 0;
                        padding: 0; 
                        width:100%;
                        & a {
                            color: #fff;
                            display: block;
                            width:100%;
                            box-sizing: border-box;
                            height: 36px;
                            font-size: 18px;
                            line-height: 36px;
                            text-decoration: none;
                            padding: 0 25px ;
                            &:hover {
                                background-color: $primary-color;                                
                            }
                            @media only screen and (max-width: $medium) {
                                &:hover {
                                    background-color: transparent;
                                    color: $primary-color;                                  
                                }
                            }
                        }  
                    }
                }
                &:hover .menu-item-dropdown{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
                @media only screen and (max-width: $medium) {
                    &:hover .menu-item-dropdown {
                        align-items: center;
                    }
                }
            
            }
        }
    }
}  

.slideshow{
    background-color:rgba(0,0,0,.3);
    width:100%;
    height:320px;
    position:relative;

    @media only screen and (max-width: $small) {
        &{
            height: 400px;
        }
    }
    &__title{
        position:absolute;
        z-index: 2;
        width:100%;
        text-align: center;
        font-size:50px;
        font-weight: 900;
        line-height: 36px;
        color:#fff;
        margin-top: 142px;
        @media only screen and (max-width: $small) {
            &{
                font-size: 40px;
                line-height: 44px;
                margin-top: 156px;
            }
        }
    }
    &__img{
        position:absolute;
        width: 100%;
        height:100%;
        z-index: -1;
        object-fit: cover;
    }
    &__nav{
        list-style: none;
        position:absolute;
        z-index: 1;
        bottom: 10%;
        width:100%;
        box-sizing:border-box;
        margin: 0;
        padding: 0;
        display:flex;
        justify-content: center;
        & li{
            width:14.5px;
            height:14.5px;
            border-radius: 50%;
            margin:0 6px;
            background-color:#fff;
        }
    }
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;

    @media only screen and (max-width: $medium){
        .overlay{
            background-color: rgba(0,0,0,.3);
            position:fixed;
            z-index: 3;
            height: 100vh;
            width: 100%;
        }
    }
        
    
}
.article-list{
    width:98%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:25px 1%;
    
    .article-item{
        width: 32%;
        padding-bottom: 50px;
        &__title{
            font-size: 40px;
            font-weight: 700;
            line-height: 44px;
            color: $secondary-color;
            @media only screen and (max-width: $medium) {
                &{
                    font-size: 36px;
                }
            }
            @media only screen and (max-width: $small) {
                &{
                    font-size: 32px;
                    line-height: 40px;
                }
            }
        }
        &__text{
            font-size: 22px;
            line-height: 34px;
            color: #747474;
        }
        &__image{
            width:100%;
        }
        &__link{
            color:#00a1d1;
            font-weight: 900;
            font-size: 22px;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
        
        @media only screen and (max-width: $medium) {
            &{
                width: 49%;
            }
        }
        @media only screen and (max-width: $small) {
            &{
                width: 100%;
            }
        }
    }
}
.article-load{
    max-width: 320px;
    width: 100%;
    height:60px;
    margin-bottom: 60px;
    background-color: #b0b0b0;
    border-radius: 4px;
    border:0;
    font-size: 22px;
    font-weight: 500;
    color:#fff;
    &:hover{
        background-color: $secondary-color;
    }
}

.contact{
    width: 98%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9e9e9;
    padding: 0 1% 72px;

    &__title{
        font-size:50px;
        font-weight: 900;
        line-height: 36px;
        color: $secondary-color;
    }

    &__form{
        display: flex;
        flex-direction: column;

        width:100%;
        max-width: 492px;

        & label{
            font-size: 22px;
            color: $secondary-color;
            line-height: 36px;
        }

        &__input{
            border:0;
            border-radius: 4px;
            height: 80px;
            width: 100%;
            margin-bottom: 18px;
            padding: 0 26px;
            box-sizing: border-box;

            font-size:22px;
            font-weight: 500;
            line-height: 36px;
            color:$secondary-color;

            &:hover{
                border:1px &$primary-color;
            }
        }

        &__textarea{
            border:0;
            border-radius: 4px;
            height: 202px;
            width: 100%;
            margin: 0;
            margin-bottom: 18px;
            padding: 0 26px;
            box-sizing: border-box;
            

            &:hover{
                border:1px &$primary-color;
            }
        }

        & button{
            width: 100%;
            height: 80px;
            border-radius: 4px;
            background-color: $primary-color;
            border: 0;

            color:#fff;
            font-size: 22px;
            line-height: 36px;
            font-weight: 700;
            
        }
    }
}
footer{
    width:100%;
    display:flex;
    justify-content: space-between;
    background-color: $secondary-color;
    box-sizing: border-box;
    padding: 17px 1%;

    font-size: 16px;
    line-height: 36px;
    color: #fff;
    @media only screen and (max-width: $small) {
        &{
            flex-direction: column;
            align-items: center;
        }
    }
}
